<a href="https://colab.research.google.com/github/ducviet00/water_resource_lab_DM/blob/viet/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import glob

In [0]:
pd.options.display.float_format = "{:.2f}".format

**Chuyển từ TXT sang CSV**

Phần comment dùng để convert phần meteorological data sang CSV + gộp lại thành 1 bảng luôn

In [0]:
 def txt_to_csv(): 
  extension = "txt"
  path = "/content/drive/My Drive/20192/Datapredict/Dữ liệu tài nguyên nước/KTTV/Discharge (Q)/Hourly data/"
  allFile = glob.glob(path+"*." +extension)
  for i in allFile:
    file_csv = pd.read_csv(i,sep="\t",header=1)
    file_csv.to_csv("/content/drive/My Drive/20192/Datapredict/Exportd/Discharge (Q)/Hourly data/" + file_csv.columns[1] + ".csv")

#  if i == 0: 
#    CSV = file_csv
#  else:
#    CSV = pd.concat([CSV, file_csv.drop(['Time'], axis=1)], axis=1)

**Xem qua dữ liệu**

Dựa vào dữ liệu Meteorological do có ít nhất (6 trạm đo)


1.   Buôn Ma Thuột - Thiếu dữ liệu về Discharge (Q), có thể dùng dữ liệu của trạm Cau 14 để thay thế do gần nhất (xấp xỉ 15km) (?)
2.   Đà Lạt - Thiếu Water Level và Discharge, không có trạm ở gần để đo. 

3. Dak To - Đủ, Tuy nhiên dữ liệu daily discharge của Dak To có vẻ bị lỗi vì toàn bộ là 1E-30
4. Kon Tum - Đủ, chỉ số water level theo ngày bị lỗi từ 1980 - 1985 vì toàn bộ là 1E-30, discharge bị lỗi từ 2016 đến cuối.
5. Pleiku - Như Đà Lạt
6. Stung Treng - Không có tên trong file meteorological station và google ra thì ở Campuchia ??? Và tất nhiên thiếu dữ liệu Q và H.

In [0]:
#Xử lý dữ liệu
path_meteo = '/content/drive/My Drive/20192/Datapredict/Exportd/Daily Meteorological data Export to CSV/Kon Tum.csv'
path_Q = '/content/drive/My Drive/20192/Datapredict/Exportd/Discharge (Q)/Daily Data/Kon Tum.csv'
path_evp = '/content/drive/My Drive/20192/Datapredict/Exportd/Monthly Evaporation (Boc hoi) exported/KonTum.csv'
path_rfall = '/content/drive/My Drive/20192/Datapredict/Exportd/Rainfall/KonTum.csv'
path_wl = '/content/drive/My Drive/20192/Datapredict/Exportd/Water Level (Muc luong)/Daily data/Kon Tum.csv'
path = [path_Q, path_evp, path_rfall, path_wl]

In [0]:
def chuanhoa(path_i):
  file_csv = pd.read_csv(path_i, index_col=0)
  file_csv.Time = file_csv.Time.str[:-9]
  return file_csv

In [0]:
CSV = chuanhoa(path_meteo)

In [0]:
CSV.describe()

In [0]:
CSV = CSV.rename(columns={'Kon Tum - Daily average wind speed':'wind', 'Kon Tum - MAX TEMP': 'maxTemp', 'Kon Tum - MIN TEMP' : 'minTemp', 'Kon Tum - Daily total solar radiation' : 'solarR', 'Kon Tum - Daily average relative humidity': 'humidity' })

In [0]:
Q_csv = chuanhoa(path_Q)
Q_csv = Q_csv.rename(columns={'Kon Tum' : 'discharge'})

In [0]:
CSV = CSV.merge(Q_csv, left_on='Time', right_on='Time')

In [105]:
CSV.describe()

          wind  maxTemp  minTemp  ...  discharge     rain  waterlevel
count 13148.00 13148.00 13148.00  ...   13148.00 13148.00    13148.00
mean      1.38    25.02    22.92  ...      97.16     5.19      444.18
std       0.96     3.95     2.51  ...     106.34    13.22      178.45
min       0.00    12.90    10.70  ...       3.50     0.00       -0.00
25%       0.75    22.90    21.60  ...      41.10     0.00      515.44
50%       1.25    24.30    23.40  ...      66.90     0.00      515.67
75%       1.75    26.00    24.60  ...     117.00     3.30      516.02
max       7.25    38.70    28.90  ...    3500.00   183.16      521.45

[8 rows x 8 columns]

In [0]:
#evp_csv = chuanhoa(path_evp)
#evp_csv = evp_csv.rename(columns={'KonTum' : 'evp'})

In [94]:
#evp_csv.describe()

         evp
count 457.00
mean  126.65
std    28.27
min    68.23
25%   107.66
50%   118.78
75%   141.23
max   271.67

In [0]:
#CSV = CSV.merge(evp_csv, left_on='Time', right_on='Time')

In [0]:
rfall_csv = chuanhoa(path_rfall)
rfall_csv = rfall_csv.rename(columns={'KonTum':'rain'})

In [0]:
CSV = CSV.merge(rfall_csv, left_on='Time', right_on='Time')

In [0]:
wl_csv = chuanhoa(path_wl)

In [100]:
wl_csv.describe()

       Kon Tum
count 13149.00
mean    444.19
std     178.44
min      -0.00
25%     515.44
50%     515.67
75%     516.02
max     521.45

In [0]:
wl_csv = wl_csv.rename(columns={'Kon Tum' : 'waterlevel'})

In [0]:
CSV = CSV.merge(wl_csv, left_on='Time', right_on='Time')

In [0]:
indexrow = CSV[CSV['waterlevel'] < 0].index

In [0]:
CSV = CSV.drop(indexrow)

In [0]:
CSV.to_csv('/content/drive/My Drive/20192/Datapredict/Exportd/Kon Tum daily data.csv')

In [0]:
evp_csv.to_csv('/content/drive/My Drive/20192/Datapredict/Exportd/Kon Tum monthly evaporation.csv')

In [115]:
CSV.sample(5)

            Time  wind  maxTemp  minTemp  ...  humidity  discharge  rain  waterlevel
9217  2005-03-27  1.50    26.30    26.30  ...      0.72      23.70  0.00      515.30
6030  1996-07-05  0.75    24.90    24.90  ...      0.84      50.20  5.10      515.59
6460  1997-09-08  1.25    24.90    24.90  ...      0.83     100.00  0.00      516.04
2004  1985-06-27  1.00    23.50    23.50  ...      0.88     154.00  8.00      516.21
5070  1993-11-18  2.25    23.20    23.20  ...      0.79      60.80  0.00      515.69

[5 rows x 9 columns]